[submodule "c++/myrrh"]
	path = c++/myrrh
	url = git@github.com:JohnReid/myrrh.git
[submodule "c++/boost-indexing-suite"]
	path = c++/boost-indexing-suite
	url = git@github.com:JohnReid/boost-indexing-suite.git
